  .profile__avatar-container {
    position: relative;
    border-radius: 100px;
  }
  
  .profile__avatar-container:hover .profile__avatar-button {
    opacity: 1;
  }
  .profile__avatar-container:hover .profile__avatar {
    opacity: 0.2;
    transition: 0.3s ease;
  }