.places__title {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}