.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (max-width: 900px) {
    .profile__avatar {
        width: 100px;
    }
}

@media screen and (max-width: 632px) {
    .profile__avatar {
        width: 120px;
    }
}